html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "banner banner"
  "figure figure"
}

.pano {
  grid-area: banner;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
}

main {
  display: contents;
}

nav {
  grid-column: 2/-1;
  grid-row: 1;
}

a {
  color: #fff;
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
}

li {

list-style-type: none;

}

ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  width: 14rem;
  grid-column: 1;
  grid-row: 1;
  align-self: end;
  z-index: 1;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
